<a href="https://colab.research.google.com/github/manojach87/miscellaneous/blob/master/coingecko.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
def readJsonLink(link):
  import urllib.request, json 
  with urllib.request.urlopen(link) as url:
      data = json.loads(url.read().decode())
      return data

In [90]:
marketsData=list()
for i in range(1,50):
  print(i)
  marketsData.append(readJsonLink("https://api.coingecko.com/api/v3/coins/markets?vs_currency=USD&order=market_cap_desc&per_page=250&page="+str(i)+"&sparkline=false"))
type(marketsData)
#marketsData

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49

list

In [91]:
import pandas as pd
marketsDf=pd.DataFrame()
for i in range(0,len(marketsData)):
  print(i)
  marketsDf=marketsDf.append(pd.DataFrame(marketsData[i]))

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48

In [93]:
marketsDf=marketsDf.reset_index()
#marketsDf[marketsDf.index==0]
marketsDf

      level_0  ...              last_updated
0           0  ...  2021-04-14T02:46:28.890Z
1           1  ...  2021-04-14T02:46:52.958Z
2           2  ...  2021-04-14T02:46:10.940Z
3           3  ...  2021-04-14T02:46:44.084Z
4           4  ...  2021-04-14T02:45:16.835Z
...       ...  ...                       ...
6678     6678  ...                      None
6679     6679  ...                      None
6680     6680  ...                      None
6681     6681  ...                      None
6682     6682  ...  2021-04-14T02:43:12.239Z

[6683 rows x 28 columns]

In [95]:
len(marketsDf)

6683

In [103]:
btcSupply=marketsDf[marketsDf.symbol=="btc"].circulating_supply[0]
btcSupply

18682018.0

In [108]:
marketsDf["btc_relative_val"]=marketsDf.circulating_supply/btcSupply*marketsDf.current_price

In [113]:
marketsDf.sort_values(by=["btc_relative_val"], ascending=[0], inplace=True)

In [117]:
marketsDf[["symbol","btc_relative_val","current_price"]]

                 symbol  btc_relative_val  current_price
0                   btc      63167.000000   6.316700e+04
1                   eth      14148.421078   2.289290e+03
2                   bnb       4641.216315   5.610900e+02
3                   xrp       4404.890270   1.790000e+00
4                   ada       2486.159415   1.450000e+00
...                 ...               ...            ...
6678  apeUSD-AAVE-DEC21               NaN            NaN
6679               talc               NaN            NaN
6680                wht               NaN            NaN
6681               inst               NaN            NaN
6682                fox               NaN   1.000000e-08

[6683 rows x 3 columns]