In [3]:
import datetime
import pandas as pd

In [4]:
dti = pd.date_range('2018-01-01', periods=3, freq='H')

In [6]:
dti

DatetimeIndex(['2018-01-01 00:00:00', '2018-01-01 01:00:00',
               '2018-01-01 02:00:00'],
              dtype='datetime64[ns]', freq='H')

In [32]:
df=pd.DataFrame(dti, columns=["Time"])

In [33]:
df

                 Time
0 2018-01-01 00:00:00
1 2018-01-01 01:00:00
2 2018-01-01 02:00:00

In [37]:
def findMidnight(row):
    return('00:00:00' in str(row["Time"]))

In [38]:
df[df.apply(findMidnight, axis=1)]

        Time
0 2018-01-01