<a href="https://colab.research.google.com/github/manojach87/miscellaneous/blob/master/DodgersSummary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install pyspark

Collecting pyspark
  Downloading https://files.pythonhosted.org/packages/45/b0/9d6860891ab14a39d4bddf80ba26ce51c2f9dc4805e5c6978ac0472c120a/pyspark-3.1.1.tar.gz (212.3MB)
     |████████████████████████████████| 212.3MB 64kB/s
Collecting py4j==0.10.9
  Downloading https://files.pythonhosted.org/packages/9e/b6/6a4fb90cd235dc8e265a6a2067f2a2c99f0d91787f06aca4bcf7c23f3f80/py4j-0.10.9-py2.py3-none-any.whl (198kB)
     |████████████████████████████████| 204kB 39.4MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.1.1-py2.py3-none-any.whl size=212767604 sha256=9f53940927e640d0f1cdf031db5b1a5c5414e8cbc3974b69b32f8a5de7d2c872
  Stored in directory: /root/.cache/pip/wheels/0b/90/c0/01de724414ef122bd05f056541fb6a0ecf47c7ca655f8b3c0f
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9 pyspark-3.1.1

In [2]:
import pyspark as py

In [3]:
!wget https://archive.ics.uci.edu/ml/machine-learning-databases/event-detection/Dodgers.data

--2021-04-02 03:05:22--  https://archive.ics.uci.edu/ml/machine-learning-databases/event-detection/Dodgers.data
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 961432 (939K) [application/x-httpd-php]
Saving to: ‘Dodgers.data’

Dodgers.data        100%[===================>] 938.90K  2.25MB/s    in 0.4s

2021-04-02 03:05:23 (2.25 MB/s) - ‘Dodgers.data’ saved [961432/961432]

In [4]:
!wget https://archive.ics.uci.edu/ml/machine-learning-databases/event-detection/Dodgers.events

--2021-04-02 03:05:23--  https://archive.ics.uci.edu/ml/machine-learning-databases/event-detection/Dodgers.events
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 4140 (4.0K) [application/x-httpd-php]
Saving to: ‘Dodgers.events’

Dodgers.events      100%[===================>]   4.04K  --.-KB/s    in 0s

2021-04-02 03:05:23 (134 MB/s) - ‘Dodgers.events’ saved [4140/4140]

Attribute Information:

1. Date: MM/DD/YY
2. Time: (H)H:MM (military time)
3. Count: Number of cars measured for the previous five minutes
Rows: Each five minute time slice is represented by one row

For .events file:
1. Date: MM/DD/YY
2. Begin event time: HH:MM:SS (military)
3. End event time: HH:MM:SS (military)
4. Game attendance
5. Away team
6. W/L score

In [5]:
sc=py.SparkContext()

In [6]:
trafficPath="Dodgers.data"
gamesPath="Dodgers.events"

In [7]:
traffic=sc.textFile(trafficPath)

In [8]:
traffic.take(10)

['4/10/2005 0:00,-1',
 '4/10/2005 0:05,-1',
 '4/10/2005 0:10,-1',
 '4/10/2005 0:15,-1',
 '4/10/2005 0:20,-1',
 '4/10/2005 0:25,-1',
 '4/10/2005 0:30,-1',
 '4/10/2005 0:35,-1',
 '4/10/2005 0:40,-1',
 '4/10/2005 0:45,-1']

In [9]:
games=sc.textFile(gamesPath)
games.take(10)

['04/12/05,13:10:00,16:23:00,55892,San Francisco,W 9-8�',
 '04/13/05,19:10:00,21:48:00,46514,San Francisco,W 4-1�',
 '04/15/05,19:40:00,21:48:00,51816,San Diego,W 4-0�',
 '04/16/05,19:10:00,21:52:00,54704,San Diego,W 8-3�',
 '04/17/05,13:10:00,15:31:00,53402,San Diego,W 6-0�',
 '04/25/05,19:10:00,21:33:00,36876,Arizona,L 4-2�',
 '04/26/05,19:10:00,22:00:00,44486,Arizona,L 3-2�',
 '04/27/05,19:10:00,22:17:00,54387,Arizona,L 6-3�',
 '04/29/05,19:40:00,22:01:00,40150,Colorado,W 6-3�',
 '04/30/05,19:10:00,21:45:00,54123,Colorado,W 6-2�']

In [10]:
 from datetime import datetime
 import csv
 from io import StringIO

In [11]:
def parseTraffic(row):
  DATE_FMT= "%m/%d/%Y %H:%M"
  row=row.split(",")
  row[0]=datetime.strptime(row[0],DATE_FMT)
  row[1]=int(row[1])
  return(row)

In [12]:
trafficParsed = traffic.map(parseTraffic)
trafficParsed.take(10)

[[datetime.datetime(2005, 4, 10, 0, 0), -1],
 [datetime.datetime(2005, 4, 10, 0, 5), -1],
 [datetime.datetime(2005, 4, 10, 0, 10), -1],
 [datetime.datetime(2005, 4, 10, 0, 15), -1],
 [datetime.datetime(2005, 4, 10, 0, 20), -1],
 [datetime.datetime(2005, 4, 10, 0, 25), -1],
 [datetime.datetime(2005, 4, 10, 0, 30), -1],
 [datetime.datetime(2005, 4, 10, 0, 35), -1],
 [datetime.datetime(2005, 4, 10, 0, 40), -1],
 [datetime.datetime(2005, 4, 10, 0, 45), -1]]

In [13]:
## This performs group by and then sum of col 2 and then reverse sorty by col2
dailyTrend=trafficParsed.map(lambda x:(x[0].date(),x[1]))\
          .reduceByKey(lambda x,y: x+y ) \
          .sortBy(lambda x:-x[1])
dailyTrend.take(10)

## same as 
##select date(col1), sum(col2) from trafficParsed group by date(col1) order by col22 desc

[(datetime.date(2005, 7, 28), 7661),
 (datetime.date(2005, 7, 29), 7499),
 (datetime.date(2005, 8, 12), 7287),
 (datetime.date(2005, 7, 27), 7238),
 (datetime.date(2005, 9, 23), 7175),
 (datetime.date(2005, 7, 26), 7163),
 (datetime.date(2005, 5, 20), 7119),
 (datetime.date(2005, 8, 11), 7110),
 (datetime.date(2005, 9, 8), 7107),
 (datetime.date(2005, 9, 7), 7082)]

In [14]:
def parseGames(row):
  DATE_FMT= "%m/%d/%y"
  row=row.split(",")
  row[0]=datetime.strptime(row[0],DATE_FMT).date()
  return((row[0],row[4]))

In [15]:
gamesParsed=games.map(parseGames)
gamesParsed.take(10)

[(datetime.date(2005, 4, 12), 'San Francisco'),
 (datetime.date(2005, 4, 13), 'San Francisco'),
 (datetime.date(2005, 4, 15), 'San Diego'),
 (datetime.date(2005, 4, 16), 'San Diego'),
 (datetime.date(2005, 4, 17), 'San Diego'),
 (datetime.date(2005, 4, 25), 'Arizona'),
 (datetime.date(2005, 4, 26), 'Arizona'),
 (datetime.date(2005, 4, 27), 'Arizona'),
 (datetime.date(2005, 4, 29), 'Colorado'),
 (datetime.date(2005, 4, 30), 'Colorado')]

In [16]:
dailyTrendCombined=dailyTrend.leftOuterJoin(gamesParsed)
dailyTrendCombined.top(10)

[(datetime.date(2005, 10, 1), (-260, None)),
 (datetime.date(2005, 9, 30), (7079, None)),
 (datetime.date(2005, 9, 29), (6917, 'Arizona')),
 (datetime.date(2005, 9, 28), (6831, 'Arizona')),
 (datetime.date(2005, 9, 27), (6664, 'Arizona')),
 (datetime.date(2005, 9, 26), (6394, 'Pittsburgh')),
 (datetime.date(2005, 9, 25), (4991, 'Pittsburgh')),
 (datetime.date(2005, 9, 24), (5848, 'Pittsburgh')),
 (datetime.date(2005, 9, 23), (7175, 'Pittsburgh')),
 (datetime.date(2005, 9, 22), (6810, None))]

In [17]:
#dailyTrendCombined=dailyTrend.join(gamesParsed)
#dailyTrendCombined.top(10)

In [28]:
def checkGameDay(row):
  if(row[1][0] == None or row[1][0] <= 0):
    return ( (row[0],row[1][1],"Regular Day",row[1][0]))
  else:
    return ( (row[0],row[1][1],"Game Day",row[1][0]))

In [29]:
dailyTrendByGames=dailyTrendCombined.map(checkGameDay)
dailyTrendByGames.take(10)

[(datetime.date(2005, 9, 8), None, 'Game Day', 7107),
 (datetime.date(2005, 7, 25), 'Cincinnati', 'Game Day', 6898),
 (datetime.date(2005, 9, 9), 'San Diego', 'Game Day', 6897),
 (datetime.date(2005, 9, 22), None, 'Game Day', 6810),
 (datetime.date(2005, 9, 15), None, 'Game Day', 6721),
 (datetime.date(2005, 5, 13), 'Atlanta', 'Game Day', 6706),
 (datetime.date(2005, 7, 15), 'San Francisco', 'Game Day', 6698),
 (datetime.date(2005, 8, 2), None, 'Game Day', 6649),
 (datetime.date(2005, 7, 19), None, 'Game Day', 6576),
 (datetime.date(2005, 7, 8), None, 'Game Day', 6563)]

In [31]:
dailyTrendByGames.map(lambda x:(x[2],x[3]))\
.combineByKey(lambda value:(value,1),\
              lambda acc,value: (acc[0]+value, acc[1]+1),\
              lambda acc1,acc2: (acc1[0]+acc2[0],acc1[1]+acc2[1])\
)\
.mapValues(lambda x:x[0]/x[1])\
.collect()
#.take(10)

[('Regular Day', -214.66666666666666), ('Game Day', 5762.476744186047)]